* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards-container {
  background-color: red;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  gap: 10px;
  background-color: yellow;
  width: 90%;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: blue;
  height: 100%;
  width: 90%;
  position: relative;
  flex: 0.5;
  transition: flex 0.5s ease-in-out;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

h3 {
  position: absolute;
  color: white;
  text-align: center;
  /* background-color: pink; */
  /* display: flex; */
  left: 25%;
  top: 3%;
  opacity: 0;
}

.card.active {
  flex: 5;
}

.card.active h3 {
  opacity: 1;
  transition: opacity 0.2s ease 0.5s;
}

/* //////////////////////////
///////////////////
////////////
 */
.second-cards-container {
  background-color: purple;
  display: flex;
  height: 100vh;
  width: 100%;
}

.second-cards {
  display: flex;
  background-color: blue;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
}

.second-card {
  background-color: yellow;
  width: 100%;
  height: 40%;
}

.second-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
}

.txt {
  background-color: red;
  /* margin-top: 5vw; */
  text-align: center;
}

.txt p,
.txt .icons {
  font-size: 25px;
}
